.containerProfile {
    display: flex;
    width: 100%;
    margin-left: 200px;
    position: fixed;
}

.userProfile {
    margin-top: 50px;
}

.list-group-item {
    background-color: darkorange;
    color: white;
}

.userInfo{
    flex: 1 1 auto;
    height: 100%;
    margin-top: 50px;
    max-width: 80%;
}

.jumbotronProfile {
    background-color: gray;
}

.text-center {
    margin-right: 200px;
    max-width: 80%;
}

.bio {
    max-width: 80%
}

.bioHeader {
    text-align: center;
}

.changePhotoButton{
    position: absolute;
    top: 46%;
    left: 50%;
}
.noPhotoCard {
    width: 286px;
    height: 193px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardText{
    width: 80%;
    display: flex;
    justify-content: center;
}

.editBioText{
    width: 100%;
}

.addPhotoButton {
    width: 50%;
    vertical-align: center;
    horiz-align: center;
}

.cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePic{
    max-width: 286px;
    max-height: 250px;
}

.addButton {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.experienceItem, .experienceItemAdd{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}
.experienceItemAdd{
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience{
    display: flex;
    justify-content: center;
}

.editLocationWrapper{
    display: flex;
    flex-direction: row;
}


