

.offerWrapper{
    margin-left: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newOfferWrap{
    height: 100%;
    width: 100%;
    text-align: center;
}

.offerOverlay{
    margin-top: 100px;
}
.toastInvOffer{
    background-color: orangered;
    color: white;
    align-self: center;
}

.myOfferHeader{
    background-color: lightcoral;
    color: white;
    display: flex;
    justify-content: center;
}

.offerListItem{
    background-color: white;
    color: black;
    width: 750px;
    display: flex;
    justify-content: center;
}

.myOfferWrapper{
    height: 90%;
    width: 90%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.subCardHeader{
    display: flex;
    justify-content: center;
}

.offerCard{
    width: 100%;
}

.interested{
    color : red;
}

.newOfferButton{
    display: flex;
    justify-content: center;
    width: 25%;
    align-self: center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0;
}