

@media all and (min-width: 480px) {
    .wHeader{
        text-align: center;
    }

    .wContainer{
        width: 100%;
    }

    .logo {
        width: 75px;
        height: 75px;
        margin-left: 285px;
        margin-right: auto;
        margin-top: 20px;
    }
}